.clang-format
/compile_commands.json
.clangd
.idea
/cmake-build*
.cache
CMakeLists.txt.user
/build*
# Generic editor swap files
*~
*.swp
*.swo
*.bak
*.orig
*.tmp
# Kate swap/autosave files
*.kate-swp
.*.kate-swp
*.autosave
